.examples {
  margin-top: var(--header-height);
  max-height: calc(100vh - var(--header-height));
  overflow: auto;
}

.examplesWrapper {
  height: 100%;
  max-height: calc(100% - 32px);
  overflow-x: auto;
  overflow-y: auto;
}
