.scrollToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--snow-colors-primary-main);
  border: none;
  color: white;
  padding: 0.75rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
  z-index: 1000;

  &:hover {
    background-color: #2563eb;
    transform: translateY(-5px);
    cursor: pointer;
  }

  .icon {
    font-size: 1.5rem;
  }
}

.hidden {
  display: none;
}
