.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 8px 12px;

  a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 9999px;
    color: var(--snow-colors-grey-700);
    font-size: 14px;
    font-weight: 500;
    &:hover {
      color: var(--snow-colors-neutral-1000);
    }

    &.active {
      color: var(--snow-colors-neutral-1000);
      background-color: var(--snow-colors-grey-200);
    }
  }
}
