.tableContainer {
  width: 100%;
  overflow-x: auto;
  margin: 1rem 0;

  code {
    background-color: var(--snow-colors-grey-100);
    border: 0.5px solid var(--snow-colors-grey-300);
    padding: 2px 6px;
    display: inline-flex;
    border-radius: 4px;
    font-size: 12px;
  }
}

.tableCellData {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.iconContainer {
  display: inline-flex;
}

.icon {
  width: 14px;
}
