.breadcrumb {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
  color: #333;

  .routePath {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .breadcrumbLink {
    color: var(--snow-colors-grey-900);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--snow-colors-primary-main);
    }
  }

  .breadcrumbLabel {
    color: #666;
  }

  svg {
    width: 14px;
  }

  .separator {
    margin: 0 8px;
    color: #999;
    display: inline-flex;
  }
}
