.feature {
  padding: 1.5rem;
  border-radius: 12px;
  width: 100%;
  min-height: 150px;
  border: 0.5px solid var(--snow-colors-grey-400);
  background-color: var(--snow-colors-grey-50);
}

.feature h2 {
  margin: 0 0 0.5rem 0;
  font-size: 18px;
}

.feature p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--snow-colors-grey-800);
  font-size: 14px;
}
