:root {
  --header-height: 3rem;
  --header-padding-left: 54px;
  --side-nav-width: 220px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(90deg, #ffffff 0%, #f9fcfe 50%, #f0f9ff 100%);
  -webkit-overflow-scrolling: touch;
}

.arctic-icon-medium {
  width: 24px;
}

#searchbar-modal-content-overlay {
  background: #0008;
}
