:root {
  --header-height: 3rem;
  --header-padding-left: 54px;
  --side-nav-width: 220px;
  /* Default background for light theme (this can be overridden in theme-light) */
  --background-gradient: linear-gradient(
    90deg,
    #ffffff 0%,
    #f9fcfe 50%,
    #f0f9ff 100%
  );

  --code-block-bg-color: #262052;
  --code-block-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  background: var(--background-gradient);

  color: var(--snow-colors-neutral-1000);
  -webkit-overflow-scrolling: touch;
}

/* Light Theme */
.theme-light {
  --background-gradient: linear-gradient(
    90deg,
    #ffffff 0%,
    #f9fcfe 50%,
    #f0f9ff 100%
  );

  --code-block-bg-color: #262052;
}

/* Dark Theme */
.theme-dark {
  --background-gradient: var(--snow-colors-neutral-0);
  --code-block-bg-color: #0c0734;
}

.arctic-icon-medium {
  width: 24px;
}

#searchbar-modal-content-overlay {
  background: #0008;
}

#snow-effect {
  display: block; /* or whatever the default state is */
}

/* When dark theme is active */
.theme-dark #snow-effect {
  display: none;
}
