.container {
  width: 100%;
  height: var(--header-height);
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  backdrop-filter: saturate(180%) blur(5px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 24px;
  position: fixed;
  top: 0;
  background: var(--header-bg-color);
  box-shadow: var(--header-box-shadow);
  z-index: 2;
  gap: 6px;

  .left {
    display: flex;
    gap: 12px;
    align-items: center;
    .title {
      font-size: 1rem;
      line-height: 1.75rem;
      font-weight: 700;
    }
  }

  .center {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }
}

.colorSchemeIcon {
  width: 44px;
  height: 32px;
  svg {
    width: 16px;
  }
}

@media (max-width: 768px) {
  .container {
    .desktopOnly {
      display: none;
    }
  }
}

@media screen and (min-width: 480px) {
  .container {
    .left {
      .title {
        font-size: 1.25rem;
      }
    }
  }
}
