.container {
  display: flex;
  justify-content: stretch;
  gap: 24px;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    font-size: 13px;
    color: var(--snow-colors-primary-main);
    // border: 2px solid transparent;

    &:hover {
      // border-bottom-color: var(--snow-colors-primary-700, '#ccc');
      border: none;
    }
  }

  .item {
    color: var(--snow-colors-grey-900);

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-width: 350px;
    gap: 4px;

    .componentDisplay {
      padding: 24px;
      display: flex;
      align-items: center;

      justify-content: center;
      width: 100%;
      height: 100%;
      height: 400px;
      overflow-x: auto;
      overflow-y: auto;
      border-radius: var(--snow-border-radius-main);
      box-shadow: var(--snow-shadow-50);
      background: var(--component-display-bg);
    }

    .title {
      font-weight: 700;
    }

    .subTitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      text-wrap: wrap;
    }

    margin-bottom: 16px;
  }

  @media (max-width: 480px) {
    .item {
      max-width: 100%;
    }
  }
}
