.footer {
  text-align: center;
  padding: 20px;
  //   background-color: #282c34;
  background-color: #1c215f;
  color: white;
  //   position: fixed;
  width: 100%;
  //   bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;

  .builtBy {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 4px;
    font-size: 12px;
    a {
      color: white;
      font-size: 12px;

      padding-left: 4px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
