.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--snow-colors-neutral-0);
  color: var(--snow-colors-neutral-1000);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;

  .builtBy {
    color: var(--snow-colors-neutral-1000);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    a {
      color: var(--snow-colors-neutral-1000);
      font-size: 12px;
      text-decoration: underline;
      padding-left: 4px;
      &:hover {
        color: var(--snow-colors-primary-main);
      }
    }
  }
}
